*{
    padding: 0;
    margin: 0;
}

body{
    height: auto;
    overflow-y: scroll;
}

.main{
    height: 530px;
    background-color: #f0f2f5;
    padding: 10vh 0 10vh 0;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    height: 100%;
    flex-direction: row;
    width: 1000px;
}

footer{
    height: 27vh;
    background-color: white;
}

.part1{
    width: 55%;
    height: 100%;
    padding-top: 4%;
}

.part1 p{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    width: 95%;
}

.logotext{
    width: 100%;
    display: flex;
    justify-content: end;
}

.logo{
    display: flex;
    align-items: flex-end;
    height: 170px;
}

.logo img{
    max-height: 60%;
}

/***********************************************/

.part2{
    width: 45%;
    height: 100%;
    padding-top: 6.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.inputcontainer{
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 5%;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 330px;
}

.info{
    width: 90%;
    display: flex;
    justify-content: center;
    font-weight: 300;
}

#create{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#create:hover, #forgot:hover{
    cursor: pointer;
    text-decoration: underline;
}

.new{
    height: 25%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

#new{
    background-color: #42b72a;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 55%;
    height: 50%;
}

#new:hover{
   background-color: #36a420;
   cursor: pointer;
   border-color: #36a420;
}

.forgot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

#forgot{
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
}

input, #login{
    height: 15%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 5%;
    outline: none;
}

::placeholder{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 100;
}

#login{
    color: white;
    background-color: #1877f2;
    border: none;
    padding: unset;
    font-size: 18px;
    font-weight: 600;
}

#login:hover{
    cursor: pointer;
    background-color: #166fe5; 
}

#password{
    margin: 5% 0 5% 0;
}

/***************************************/
footer{
    display: flex;
    justify-content: center;
}

.footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 1000px;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

a:hover{
    text-decoration: underline;
}

.copyright{
    color: rgba(0, 0, 0, 0.6);
    height: 35px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.language{
    margin-top: 20px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language button{
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #f5f6f7;
}

.language button:hover{
    cursor: pointer;
    background-color: #ebedf0;
}


.languages{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}


.other{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 1%;
}

.others, .otherss{
    display: flex;
    justify-content: space-between;
}

.others{
    width: 93%;
}

.otherss{
    width: 98%;
}